<div id="nav">
  <div class="container">
    <ul>
      <li class="active"><a href="//charles.io">Blog</a></li>
      <li><a href="//static.charles.io">Resum&eacute;</a></li>
      <li><a href="https://hushbookmarks.com" target="_blank">Hush</a></li>
      <li><a href="//static.charles.io/mcat">MCAT</a></li>
      <li><a href="//static.charles.io/studyguides">Study Guides</a></li>
    </ul>
    <div><a href="//charles.io">charles.io</a></div>
  </div>
</div>
