<div id="nav">
  <div class="container">
    <ul>
      <li class="active"><a href="http://charles.io">Blog</a></li>
      <li><a href="http://static.charles.io">Resum&eacute;</a></li>
      <li><a href="http://static.charles.io/hush">Hush</a></li>
      <li><a href="http://static.charles.io/mcat">MCAT</a></li>
      <li><a href="http://static.charles.io/studyguides">Study Guides</a></li>
    </ul>
    <div><a href="http://charles.io">charles.io</a></div>
  </div>
</div>
