<div id="nav">
  <div class="container">
    <ul>
      <li class="active"><a href="/">Blog</a></li>
      <li><a href="/resume">Resum&eacute;</a></li>
      <li><a href="https://hushbookmarks.com" target="_blank">Hush</a></li>
      <li><a href="/mcat">MCAT</a></li>
      <li><a href="/studyguides">Study Guides</a></li>
    </ul>
    <div><a href="/">charles.io</a></div>
  </div>
</div>
