{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<h1>Intro</h1>
<p>Hi! I&rsquo;m <strong>Charles Feng</strong>, a <a href="//static.charles.io">software engineer</a> with experience in product, data, and UI/UX design. I&rsquo;m currently helping fix commerce at <a href="https://poynt.com" target="_blank">Poynt</a>, and writing about startups, business, and the tech industry on <a href="{{@blog.url}}/rss/" target="_blank">this blog</a>.</p>
<p>To get in touch, send me an email at <a href="mailto:charles@charles.io">charles@charles.io</a> or find me on <a href="https://www.linkedin.com/in/cfeng" target="_blank">LinkedIn</a>, <a href="https://github.com/charlesfeng" target="_blank">GitHub</a>, or <a href="https://twitter.com/fengocyte" target="_blank">Twitter</a>.</p>

<hr>

<div id='instafeed-box'>
  <a id='instafeed-link' href="https://www.instagram.com/fengocyte/?ref=badge" class="ig-b- ig-b-32" target='_blank'><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
  <h1>Photo stream</h1>
  <div id='instafeed'><div id='instafeed-spinner' class='spinner'></div></div>
  <hr>
</div>

<h1>Recent posts</h1>
<div class="posts">
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
<script>
  new Instafeed({
    get: 'user',
    userId: '1688077674',
    accessToken: '1688077674.fd3e9c1.9aaa80b0832e40aaba81a6783725df88',
    limit: 5,
    resolution: 'low_resolution',
    template: '<a href="\{\{link\}\}" target="_blank" style="background-image:url(\'\{\{image\}\}\')"></a>',
    success: function () {
      document.getElementById('instafeed-spinner').remove();
    }
  }).run();
</script>
