{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<h1>Intro</h1>
<p>Hi! I&rsquo;m <strong>Charles Feng</strong>, a <a href="//static.charles.io">software engineer</a> with experience in product, data, and UI/UX design. I&rsquo;m currently helping fix commerce at <a href="https://getpoynt.com" target="_blank">Poynt</a>, and writing about startups, business, and the tech industry on <a href="{{@blog.url}}/rss/" target="_blank">this blog</a>.</p>
<p>To get in touch, send me an email at <a href="mailto:charles@charles.io">charles@charles.io</a> or find me on <a href="https://www.linkedin.com/in/cfeng" target="_blank">LinkedIn</a>, <a href="https://github.com/charlesfeng" target="_blank">GitHub</a>, or <a href="https://twitter.com/fengocyte" target="_blank">Twitter</a>.</p>

<hr>
<h1>Recent posts</h1>
<div class="posts">
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}
</div>
