<!DOCTYPE html>
<html>

<head>
  <title>Charles Feng - Resum&eacute;</title>
  <script type="text/javascript" src="https://fast.fonts.net/jsapi/00651410-0699-48ff-a220-9c27019e1866.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="//d1divvdp6ba8l4.cloudfront.net/favicon.ico">
  <link rel="stylesheet" href="//static.charles.io/css/common.css">
  <link rel="stylesheet" href="//static.charles.io/css/mobile.css">
</head>

<body>
  <div id="nav">
    <div class="container">
      <ul>
        <li><a href="/">Blog</a></li>
        <li class="active"><a href="#">Resum&eacute;</a></li>
        <li><a href="https://hushbookmarks.com" target="_blank">Hush</a></li>
        <li><a href="/mcat">MCAT</a></li>
        <li><a href="/studyguides">Study Guides</a></li>
      </ul>
      <div><a href="/">charles.io</a></div>
    </div>
  </div>

  <div class="container">
    <h1>Work</h1>
    <div class="row">
      <img src="//static.charles.io/images/poynt.png">
      <div>
        <h2><a href="https://poynt.com" target="_blank">Poynt</a> &mdash; Founding engineer <small>April 2014 &ndash; Present</small></h2>
        <p>Building the world&rsquo;s first smart payment terminal and open commerce ecosystem.</p>
      </div>
    </div>
    <div class="row">
      <img src="//static.charles.io/images/fcancer.png">
      <div>
        <h2><a href="https://fcancer.org" target="_blank">Fcancer</a> &mdash; Advisor, technical lead <small>July 2013 - Present</small></h2>
        <p>Created an online community for volunteers to pledge their skills to cancer charities.<br>100,000 hours donated and counting.</p>
      </div>
    </div>
    <div class="row">
      <img src="//static.charles.io/images/stanza.png">
      <div>
        <h2><a href="https://stanza.co" target="_blank">Stanza</a> &mdash; Co-founder &amp; CTO <small>July 2012 &ndash; April 2014</small></h2>
        <p>Big data analytics and natural language processing to supercharge your calendar<br>Incubated at <a href="http://startx.stanford.edu/" target="_blank">StartX</a>; backed by top-tier VCs.</p>
      </div>
    </div>

    <hr>

    <h1>Projects</h1>
    <div class="row">
      <img src="//static.charles.io/images/hush.png">
      <div>
        <h2><a href="https://hushbookmarks.com" target="_blank" target="_blank">Hush &ndash; private bookmarking</a> <small>July 2013 &ndash; Present</small></h2>
        <p>Simple, secure private bookmarking for incognito browsing. Available on <a href="https://hushbookmarks.com" target="_blank">web</a>, <a href="https://chrome.google.com/webstore/detail/hush-private-bookmarking/hjmoaenjknbdehbiaeeijcppnljflkff" target="_blank">Chrome</a> and <a href="https://addons.mozilla.org/en-US/firefox/addon/hush-private-bookmarking/" target="_blank">Firefox</a>.<br>Featured on <a href="http://lifehacker.com/hush-adds-private-encrypted-bookmarks-to-chromes-inco-792592473" target="_blank">Lifehacker</a>.</p>
      </div>
    </div>
    <div class="row">
      <img src="//static.charles.io/images/nko.png">
      <div>
        <h2>Mastermind <small>November 10-12, 2012 [offline]</small></h2>
        <p>Real-time business data dashboard.<br>Placed 2nd worldwide at <a href="http://nodeknockout.com" target="_blank">Node Knockout 2012</a>. Source code on <a href="https://github.com/overseerio/mastermind" target="_blank">GitHub</a>.</p>
      </div>
    </div>
    <div class="row">
      <img src="//static.charles.io/images/ember.png">
      <div>
        <h2><a href="http://joinspoton.github.io/ember-calendar" target="_blank">ember-calendar</a> <small>Jan 2013 &ndash; Apr 2014</small></h2>
        <p>Calendar component for <a href="http://emberjs.com" target="_blank">Ember.js</a>. Source code on <a href="https://github.com/joinspoton/ember-calendar" target="_blank">GitHub</a>.</p>
      </div>
    </div>
    <div class="row">
      <img src="//static.charles.io/images/euler.png">
      <div>
        <h2>Project Euler <small>May 2013 &ndash; Present</small></h2>
        <p>Solving a series of <a href="http://projecteuler.net" target="_blank">computational problems</a> with <a href="https://github.com/charlesfeng/euler.hs" target="_blank">Haskell</a>, <a href="https://github.com/charlesfeng/euler.js" target="_blank">Javascript</a>, and <a href="https://github.com/charlesfeng/euler.py" target="_blank">Python</a>.</p>
      </div>
    </div>

    <hr>

    <h1>Education</h1>
    <div class="row">
      <img src="//static.charles.io/images/stanford.png">
      <div>
        <h2><a href="http://stanford.edu" target="_blank">Stanford University</a> <small>September 2009 &ndash; December 2011 [left]</small></h2>
        <p>Doctor of Philosophy, Bioengineering</p>
      </div>
    </div>
    <div class="row">
      <img src="//static.charles.io/images/illinois.png">
      <div>
        <h2><a href="http://illinois.edu" target="_blank">University of Illinois</a> <small>September 2005 &ndash; June 2009</small></h2>
        <p>Bachelor&rsquo;s Degree, Bioengineering</p>
      </div>
    </div>

    <hr>

    <h1>Miscellaneous</h1>
    <div class="row">
      <img src="//static.charles.io/images/yc.png">
      <div>
        <h2><a href="https://github.com/charlesfeng/startup-school-notes" target="_blank">Startup School Notes</a> <small>October 19, 2013</small></h2>
        <p>Inspiration and knowledge gained at <a href="http://startupschool.org/" target="_blank">YC Startup School 2013</a>.<br>400+ stars on <a href="https://github.com/charlesfeng/startup-school-2013" target="_blank">GitHub</a>; popular on <a href="https://twitter.com/cdixon/status/391785154189881344" target="_blank">Twitter</a>.</p>
      </div>
    </div>

    <hr>

    <h1>Teaching</h1>
    <div class="row">
      <img src="//static.charles.io/images/mcat.png">
      <div>
        <h2><a href="/mcat" target="_blank">MCAT prep outlines</a> <small>February 2008 &ndash; March 2012</small></h2>
        <p>Received a 42S (99.9% percentile) on the MCAT in January 2008; started teaching for <a href="http://www.examkrackers.com" target="_blank">Examkrackers</a> soon after that. Created and used these outlines during my four years of teaching.</p>
      </div>
    </div>
    <div class="row">
      <img src="//static.charles.io/images/fremd.png">
      <div>
        <h2><a href="/studyguides" target="_blank">High school study guides</a> <small>September 2001 &ndash; June 2005</small></h2>
        <p>Made and freely distributed study guides for high school honors and AP classes. Downloaded over 200,000 times.</p>
      </div>
    </div>
  </div>

  <script src="//static.charles.io/js/jquery.js"></script>
  <script src="//static.charles.io/js/global.js"></script>
</body>
</html>
