<!DOCTYPE html>
<html>

<head>
  <title>Charles Feng - Study Guides</title>
  <script type="text/javascript" src="https://fast.fonts.net/jsapi/00651410-0699-48ff-a220-9c27019e1866.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="//d1divvdp6ba8l4.cloudfront.net/favicon.ico">
  <link rel="stylesheet" href="//static.charles.io/css/common.css">
  <link rel="stylesheet" href="//static.charles.io/css/mobile.css">
</head>

<body>
  <div id="nav">
    <div class="container">
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="#">Resum&eacute;</a></li>
        <li><a href="https://hushbookmarks.com" target="_blank">Hush</a></li>
        <li><a href="/mcat">MCAT</a></li>
        <li class="active"><a href="/studyguides">Study Guides</a></li>
      </ul>
      <div><a href="/">charles.io</a></div>
    </div>
  </div>

  <div class="container">
    <h1>Study Guides</h1>
    <p>These guides were created from 2001-2005 when I was at <a href="http://www.fhs.d211.org/" target="_blank">William Fremd High School</a>. Due to their age I can&rsquo;t make any guarantees for their accuracy/relevance, but if you see any glaring errors or omissions please feel free to contact me.</p>
    <hr>
    <ul>
      <li>AP Macroeconomics &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/APEcon_I.pdf" target="_blank">Download</a></li>
      <li>AP Biology &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/APBiology.pdf" target="_blank">Download</a></li>
      <li>AP US History, 1st Semester &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/APUS_I.pdf" target="_blank">Download</a></li>
      <li>Accelerated Biology, 1st Semester &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/Bio_I.pdf" target="_blank">Download</a></li>
      <li>Accelerated Biology, 2nd Semester &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/Bio_II.pdf" target="_blank">Download</a></li>
      <li>Accelerated Chemistry, 1st Semester &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/Chem_I.pdf" target="_blank">Download</a></li>
      <li>Accelerated Chemistry, 2nd Semester &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/Chem_II.pdf" target="_blank">Download</a></li>
      <li>World Geography, 2nd Semester &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/WldGeo_II.pdf" target="_blank">Download</a></li>
      <li>Intro Elec &amp; Electr Circuits &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/ECE205.pdf" target="_blank">Download</a></li>
      <li>Numerical Methods &mdash; <a href="https://fenguin.s3.amazonaws.com/studyguides/CS257.pdf" target="_blank">Download</a></li>
    </ul>
  </div>

  <script src="//static.charles.io/js/jquery.js"></script>
  <script src="//static.charles.io/js/global.js"></script>
</body>
</html>
