<!DOCTYPE html>
<html>

<head>
  <title>Charles Feng - MCAT</title>
  <script type="text/javascript" src="https://fast.fonts.net/jsapi/00651410-0699-48ff-a220-9c27019e1866.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="//d1divvdp6ba8l4.cloudfront.net/favicon.ico">
  <link rel="stylesheet" href="{{asset "css/common.css"}}">
  <link rel="stylesheet" href="{{asset "css/mobile.css"}}">
</head>

<body>
  <div id="nav">
    <div class="container">
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="#">Resum&eacute;</a></li>
        <li><a href="https://hushbookmarks.com" target="_blank">Hush</a></li>
        <li class="active"><a href="/mcat">MCAT</a></li>
        <li><a href="/studyguides">Study Guides</a></li>
      </ul>
      <div><a href="/">charles.io</a></div>
    </div>
  </div>

  <div class="container">
    <h1>MCAT</h1>
    <p>I was pre-MD/PhD a long time ago, and took the MCAT in January 2008. After receiving a score of 42S (99.9% percentile), I began teaching for <a href="http://www.examkrackers.com" target="_blank">Examkrackers</a>. I created and used these outlines for my classes during my four years of teaching.</p>
    <hr>
    <h1>Biology</h1>
    <ol>
      <li>Molecular Biology, Cellular Respiration &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology1.pdf" target="_blank">Download</a></li>
      <li>Genes &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology2.pdf" target="_blank">Download</a></li>
      <li>Microbiology &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology3.pdf" target="_blank">Download</a></li>
      <li>The Eukaryotic Cell; The Nervous System &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology4.pdf" target="_blank">Download</a></li>
      <li>The Endocrine System &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology5.pdf" target="_blank">Download</a></li>
      <li>The Digestive System; The Excretory System &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology6.pdf" target="_blank">Download</a></li>
      <li>The Cardiovascular System; The Endocrine System &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology7.pdf" target="_blank">Download</a></li>
      <li>Muscle, Bone and Skin &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology8.pdf" target="_blank">Download</a></li>
      <li>Populations &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Biology9.pdf" target="_blank">Download</a></li>
    </ol>
    <hr>
    <h1>Organic Chemistry</h1>
    <ol>
      <li>Molecular Structure &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/OrganicChemistry1.pdf" target="_blank">Download</a></li>
      <li>Crash Course &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/OrganicChemistryCrashCourse.pdf" target="_blank">Download</a></li>
      <li>Hydrocarbons, Alcohols and Substitutions &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/OrganicChemistry2.pdf" target="_blank">Download</a></li>
      <li>Carbonyls and Amines &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/OrganicChemistry3.pdf" target="_blank">Download</a></li>
      <li>Biochemistry and Lab Techniques &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/OrganicChemistry4.pdf" target="_blank">Download</a></li>
    </ol>
    <hr>
    <h1>Physics</h1>
    <ol>
      <li>Translational Motion &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Physics1.pdf" target="_blank">Download</a></li>
      <li>Force &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Physics2.pdf" target="_blank">Download</a></li>
      <li>Equilibrium, Torque and Energy &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Physics3.pdf" target="_blank">Download</a></li>
      <li>Momentum, Machines and Radioactive Decay &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Physics4.pdf" target="_blank">Download</a></li>
      <li>Fluids and Solids &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Physics5.pdf" target="_blank">Download</a></li>
      <li>Waves &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Physics6.pdf" target="_blank">Download</a></li>
      <li>Electricity and Magnetism &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Physics7.pdf" target="_blank">Download</a></li>
      <li>Light and Optics &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Physics8.pdf" target="_blank">Download</a></li>
    </ol>
    <hr>
    <h1>Chemistry</h1>
    <ol>
      <li>Atoms, Molecules and Quantum Mechanics &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Chemistry1.pdf" target="_blank">Download</a></li>
      <li>Gases, Kinetics and Chemical Equilibrium &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Chemistry2.pdf" target="_blank">Download</a></li>
      <li>Thermodynamics &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Chemistry3.pdf" target="_blank">Download</a></li>
      <li>Solutions &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Chemistry4.pdf" target="_blank">Download</a></li>
      <li>Heat Capacity, Phase Change and Colligative Properties &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Chemistry5.pdf" target="_blank">Download</a></li>
      <li>Acids and Bases &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Chemistry6.pdf" target="_blank">Download</a></li>
      <li>Electrochemistry &mdash; <a href="https://fenguin.s3.amazonaws.com/mcat/outlines/Chemistry7.pdf" target="_blank">Download</a></li>
    </ol>
  </div>

  <script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/global.js"}}"></script>
</body>
</html>
