p.small, .pagination {
  color: #999;
  font-size: 15px;
  font-weight: 300;
}

.pagination {
  text-align: center;
}

.posts .row > div > h2 > a {
  color: black;
  text-decoration: none;
}

.posts .row > div > h2 > a:hover {
  text-decoration: underline;
}

.posts .row > div > p.small {
  margin-top: 5px;
}

.posts .row > div > p.small > a {
  color: #999;
}

.posts .row > div > p.small > a:hover {
  color: #666;
}

.posts .row > div > p.small > time {
  margin-left: 10px;
}

.post-header > h1 {
  margin-left: 79px;
  margin-bottom: 5px;
}

.post-header > .img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-top: -10px;
  height: 64px;
  width: 64px;
}

.post-header > p.small {
  margin-bottom: 35px;
  margin-top: 6px;
}

.post-header > p.small > time {
  margin-left: 10px;
}

.post-content em {
  font-style: italic;
}

.home-template p, .post-content p {
  margin: 20px 0px;
}

.post-content li {
  margin: 15px 0px;
}

.post-content h3 {
  margin-top: 30px;
}

.post-content h4 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  text-decoration: underline;
  text-transform: none;
}

.post-content h5 {
  font-size: 15px;
  line-height: 29px;
  margin-top: 30px;
  text-transform: uppercase;
}

.post-content ul {
  list-style: disc;
  margin-left: 30px;
  margin-top: -5px;
}

.post-content ol {
  list-style: decimal;
  margin-left: 30px;
  margin-top: -5px;
}

.post-share > p.small > a {
  color: #999;
  display: inline-block;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 5px;
  vertical-align: middle;
}

.post-share > p.small > a:hover {
  color: #666;
}

.post-share > p.small > a .hidden {
  display: none;
}

.post-share > p.small > a:hover {
  text-decoration: none;
}

.post-share-follow {
  float: right;
}

/* Apply these base styles to all icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "casper-icons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Import the font file with the icons in it */
@font-face {
    font-family: "casper-icons";
    src:url("//charlesio.s3.amazonaws.com/fonts/casper-icons.eot");
    src:url("//charlesio.s3.amazonaws.com/fonts/casper-icons.eot?#iefix") format("embedded-opentype"),
        url("//charlesio.s3.amazonaws.com/fonts/casper-icons.woff") format("woff"),
        url("//charlesio.s3.amazonaws.com/fonts/casper-icons.ttf") format("truetype"),
        url("//charlesio.s3.amazonaws.com/fonts/casper-icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Each icon is created by inserting the correct character into the
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
    content: "\f600";
}
.icon-feed:before {
    content: "\f601";
}
.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\f603";
}
.icon-facebook:before {
    content: "\f604";
}
.icon-arrow-left:before {
    content: "\f605";
}
.icon-stats:before {
    content: "\f606";
}
.icon-location:before {
    content: "\f607";
    margin-left: -3px; /* Tracking fix */
}
.icon-link:before {
    content: "\f608";
}
.icon-menu:before {
    content: "\f609";
}

#instafeed-link {
  float: right;
  margin-top: -4px;
}

#instafeed {
  height: 162px;
  overflow: hidden;
}

#instafeed > a {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  width: 152px;
  height: 152px;
  overflow: hidden;
}

#instafeed > a:nth-of-type(5n) {
  margin-right: 0px;
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-32 { width: 32px; height: 32px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-32 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px; } }

.spinner {
  width: 40px;
  height: 40px;
  background-color: #ddd;

  margin: 61px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media only screen and (max-width: 600px) {
  p.small, .pagination {
    font-weight: 400;
  }

  .posts .row > div > p.small > time {
    display: block;
    margin-left: 0px;
  }

  .post-header > h1 {
    margin-left: 0px;
  }

  .post-header > .img {
    float: right;
    margin: 5px 0px 20px 20px;
  }

  .post-header > p.small {
    clear: both;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .post-header > p.small > time {
    display: block;
    margin-left: 0px;
    margin-top: 3px;
  }

  .post-share-follow {
    display: block;
    margin-bottom: 15px;
    float: none;
  }

  #instafeed {
    text-align: center;
  }
}
